extends ../components/base/layout

block variables
  - const title = "Список страниц"

block main
  style
    include ../../sass/inline/sitemap.css

  -
    const pages = [
      {
        name: "UI-kit — ui-kit.html",
        src: "ui-kit.html"
      },
      {
        name: "ТОО Asia Petro Service - Главная — index.html",
        src: "index.html"
      },
      {
        name: "Asia Petro Service LLC - Main — index.html",
        src: "en/index.html"
      },
      {
        name: "Asia Petro Service ЖШС - Басты бет — index.html",
        src: "kz/index.html"
      },
      {
        name: "TOO Asia Petro Service - Услуги — services.html",
        src: "services.html"
      },
      {
        name: "Asia Petro Service LLC - Services — services.html",
        src: "en/services.html"
      },
      {
        name: "Asia Petro Service ЖШС - Қызметтер — services.html",
        src: "kz/services.html"
      },
      {
        name: "TOO Asia Petro Service - Продукция — catalog.html",
        src: "catalog.html"
      },
      {
        name: "Asia Petro Service LLC - Products — catalog.html",
        src: "en/catalog.html"
      },
      {
        name: "Asia Petro Service ЖШС - Өнімдер — catalog.html",
        src: "kz/catalog.html"
      },
      {
        name: "TOO Asia Petro Service - О нас — about.html",
        src: "about.html"
      },
      {
        name: "Asia Petro Service LLC - About us — about.html",
        src: "en/about.html"
      },
      {
        name: "Asia Petro Service ЖШС - Біз туралы — about.html",
        src: "kz/about.html"
      },
      {
        name: "TOO Asia Petro Service - События — events.html",
        src: "events.html"
      },
      {
        name: "Asia Petro Service LLC - Events — events.html",
        src: "en/events.html"
      },
      {
        name: "Asia Petro Service ЖШС - Oқиғалар — events.html",
        src: "kz/events.html"
      },
      {
        name: "TOO Asia Petro Service - УСЛУГИ ПО БУРОВЫМ РАСТВОРАМ — fluid-services.html",
        src: "fluid-services.html"
      },
      {
        name: "Asia Petro Service LLC - Drilling fluid services — fluid-services.html",
        src: "en/fluid-services.html"
      },
      {
        name: "Asia Petro Service ЖШС - Бұрғылау сұйықтығының қызметтері — fluid-services.html",
        src: "kz/fluid-services.html"
      },
      {
        name: "TOO Asia Petro Service - Поставка реагентов для бурения и нефтедобычи — reagents-supply.html",
        src: "reagents-supply.html"
      },
      {
        name: "Asia Petro Service LLC - Supply of reagents for drilling and oil production — reagents-supply.html",
        src: "en/reagents-supply.html"
      },
      {
        name: "Asia Petro Service ЖШС - Бұрғылау және мұнай өндіру үшін реагенттерді жеткізу — reagents-supply.html",
        src: "kz/reagents-supply.html"
      },
      {
        name: "TOO Asia Petro Service - Кислотная и химическая обработка скважин — acid-treatment.html",
        src: "acid-treatment.html"
      },
      {
        name: "Asia Petro Service LLC - Acid and chemical well treatments — acid-treatment.html",
        src: "en/acid-treatment.html"
      },
      {
        name: "Asia Petro Service ЖШС - Қышқылды және химиялық ұңғымаларды өңдеу — acid-treatment.html",
        src: "kz/acid-treatment.html"
      },
      {
        name: "TOO Asia Petro Service - Повышение нефтеотдачи пластов — enhanced-oil-recovery.html",
        src: "enhanced-oil-recover.html"
      },
      {
        name: "Asia Petro Service LLC - Enhanced oil recovery — enhanced-oil-recovery.html",
        src: "en/enhanced-oil-recovery.html"
      },
      {
        name: "Asia Petro Service ЖШС - Мұнайды қалпына келтіруді жақсарту — enhanced-oil-recover.html",
        src: "kz/enhanced-oil-recover.html"
      },
      {
        name: "TOO Asia Petro Service - APHRONICS — aphronics.html",
        src: "aphronics.html"
      },
      {
        name: "Asia Petro Service LLC - APHRONICS — aphronics.html",
        src: "en/aphronics.html"
      },
      {
        name: "Asia Petro Service ЖШС - APHRONICS — aphronics.html",
        src: "kz/aphronics.html"
      },
      {
        name: "TOO Asia Petro Service - Polycat — polycat.html",
        src: "polycat.html"
      },
      {
        name: "Asia Petro Service LLC - Polycat — polycat.html",
        src: "en/polycat.html"
      },
      {
        name: "Asia Petro Service ЖШС - Polycat — polycat.html",
        src: "kz/polycat.html"
      },
      {
        name: "TOO Asia Petro Service - Ремонтно-изоляционные работы — repair-insulation-work.html",
        src: "repair-insulation-work.html"
      },
      {
        name: "Asia Petro Service LLC - Repair and insulation work — repair-insulation-work.html",
        src: "en/repair-insulation-work.html"
      },
      {
        name: "Asia Petro Service ЖШС - Жөндеу және оқшаулау жұмыстары — repair-insulation-work.html",
        src: "kz/repair-insulation-work.html"
      },
    ]

  main
    .sitemap
      .container
        img(src="img/svg/logo-desktop.svg", width="200", height="118" alt="Логотип TOO Asia Petro Service")
        h1 Список страниц
        ol
          each page in pages
            li
              if page.id
                label(for=page.id)
                  span!= page.name
                input.visually-hidden(type="checkbox", checked=true, id=page.id)
                div
                  ul
                    each item in page.innerList
                      li
                        a(href= item.src)= item.name
              else
                a(href= page.src)= page.name
