mixin product-card(card, lang)
  each value, key in card.content
    if lang === key
      article.product-card(data-sort=`${card.sort}`)
        .product-card__wrapper
          .product-card__top
            h3.product-card__title.title!=value.title
            p.product-card__group!=value.group
            .product-card__unit
              span.product-card__key!=value.key1
              span.product-card__value!=value.unit
            .product-card__unit
              span.product-card__key!=value.key2
              span.product-card__value!=value.min

          +btn({text: value.btn, type: "button"})(class="product-card__btn", data-open-modal="form-modal")
