doctype html

include ../components

block variables

html(lang=lang)
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="description", content="Asia Petro Service")
    if (lang === "kz")
      link(rel="alternate", hreflang="en", href=`https://asiapetroservice.kz/en/${page}.html`)
      link(rel="canonical", hreflang="ru", href=`https://asiapetroservice.kz/${page}.html`)
    else if (lang === "en")
      link(rel="alternate", hreflang="kk", href=`https://asiapetroservice.kz/kz/${page}.html`)
      link(rel="canonical", hreflang="ru", href=`https://asiapetroservice.kz/${page}.html`)
    else
      link(rel="alternate", hreflang="kk", href=`https://asiapetroservice.kz/kz/${page}.html`)
      link(rel="alternate", hreflang="en", href=`https://asiapetroservice.kz/en/${page}.html`)
    //- favicon
    if (lang === "kz" || lang === "en")
      link(rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png")
      link(rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png")
      link(rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png")
      link(rel="icon" type="image/svg" href="../favicon/logo-svg.svg")
      link(rel="manifest" href="../favicon/site.webmanifest" crossorigin="use-credentials")
      link(rel="mask-icon" href="../favicon/safari-pinned-tab.svg" color="#3a3838")
      link(rel="shortcut icon" href="../favicon/favicon.ico")
    else
      link(rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png")
      link(rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png")
      link(rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png")
      link(rel="icon" type="image/svg" href="favicon/logo-svg.svg")
      link(rel="manifest" href="favicon/site.webmanifest" crossorigin="use-credentials")
      link(rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#3a3838")
      link(rel="shortcut icon" href="favicon/favicon.ico")
    meta(name="msapplication-TileColor" content="#3a3838")
    meta(name="theme-color" content="#ffffff")
    //- fonts preload
    //- if (lang === "kz" || lang === "en")
    //-   link(rel="preload", href="/fonts/montserrat-regular.woff2", as="font", crossorigin="anonymous")
    //- else
    //-   link(rel="preload", href="fonts/montserrat-regular.woff2", as="font", crossorigin="anonymous")
    //- rubik
    if (lang === "kz" || lang === "en")
      link(rel="preload", href="/fonts/rubik-regular.woff2", as="font", crossorigin="anonymous")
    else
      link(rel="preload", href="fonts/rubik-regular.woff2", as="font", crossorigin="anonymous")
    //- link(rel="preload", href="img/slides/hero1@2x.webp", as="image", type="image/webp", crossorigin="anonymous")
    //- link(rel="preload", href="img/slides/hero1@2x.jpg", as="image", type="image/jpg", crossorigin="anonymous")
    //- link(rel="preload", href="img/slides/hero1.webp", as="image", type="image/webp", crossorigin="anonymous")
    //- link(rel="preload", href="img/slides/hero1.jpg", as="image", type="image/jpg", crossorigin="anonymous")
    //- При необходимости вы можете добавить разметку Open graf. - const Open graf = true
    if (openGraf)
      //- Обязательно измените содержание контента на тот что необходим!
      //- Введите заголовок
      meta(property="og:title", content="Asia Petro Service")
      //- Введите заголовок путь к картинке
      meta(property="og:image", content="https://asiapetroservice.kz/img/content/about-hero.jpg")
      //- Введите необходимый тип
      meta(property="og:type", content="article")
      //- Введите адрес сайта
      meta(property="og:url", content="https://asiapetroservice.kz/")
      //- Введите описание
      meta(property="og:description", content="Asia Petro Service - oбработка скважин и трубопроводов, буровые растворы.")

    if (lang === "kz" || lang === "en")
      link(rel="stylesheet", href="../css/style.min.css")

    else
      link(rel="stylesheet", href="css/style.min.css")

  body
    .wrapper(class=wrapperMods)

      if (hasHeader)
        +header(headerMods, currentUrl)

      block main

      if (hasFooter)
        +footer(lang)

    block modals

    if (lang === "kz" || lang === "en")
      script(src="../js/vendor.min.js")
      script(src="../js/main.min.js")

    else
      script(src="js/vendor.min.js")
      script(src="js/main.min.js")
